#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa); */
/* } */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Додай це до своїх стилів */
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
}

header {
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;

  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.cart-badge {
  background-color: #ff4757;
  color: black;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 5px;
}

.product-title {
  font-size: 1rem;
  margin: 10px 0;
  height: 3em;
  overflow: hidden;
  display: -webkit-box;
  color: #2c3e50;
  /* -webkit-line-clamp: 2;  */
  -webkit-box-orient: vertical;
}

.product-price {
  font-weight: bold;
  color: #2c3e50;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #eee;
  padding: 20px;
  margin-bottom: 15px;
}

/* for search */

.search-wrapper {
  position: relative;
  width: 354px; 
  height: 50px; 
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000; 
  border-radius: 10px;
  overflow: hidden; 
}

.search-wrapper::after {
  content: '';
  position: absolute;
  width: 200%; 
  height: 400%; 
  
  background: conic-gradient(
    from 60deg at 50% 50%,
    transparent 0deg,
    #4d3fd0 15deg,
    transparent 145deg,
    #e830ba 215deg,
    transparent 325deg
  );
  animation: spin-effect 4s linear infinite;
}


.search-wrapper::before {
  content: '';
  position: absolute;
  inset: 2px; 
  background: #1a1a1a;
  border-radius: 8px;
  z-index: 1;
}

.search-bar {
  position: relative;
  z-index: 2; 
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 0 15px;
  font-size: 16px;
}

@keyframes spin-effect {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}